.submission div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  background-color: var(--items-color);
  margin: 1.5rem 0;
  width: 40rem;
  min-height: 8rem;
  border-radius: 5%;
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1.2rem;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(96, 70, 102, 0.5);
}

.submission div section {
  justify-content: space-around;
  display: flex;
  width: 100%;
}

.submission .writingIcon {
  position: absolute;
  top: 0.8rem;
}

.submission .volumeIcon {
  position: absolute;
  top: 0.75rem;
  left: 1.25rem;
  color: var(--secondary-color);
  cursor: pointer;
}

.submission .volumeIcon:hover {
  scale: 1.15;
  transition: all 0.5s ease;
}

.submission .skipIcon{
  position: absolute;
  top: 0.75rem;
  right: 1.25rem;
  color: var(--secondary-color);
  cursor: pointer;
}

.clipLoader {
  margin-top: 2rem;
}

.submission .skipIcon:hover {
  scale: 1.15;
  transition: all 0.5s ease;
}
/* media query */
@media (max-width: 576px) {
  .submission div {
    width: 19rem;
  }
}
