.childCharts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 95%;
    padding: 1rem;
}

.chartContainer {
    height: 300px !important;
    margin: 2rem 0;
}

.clipLoader {
    margin: 2rem 0;
}