.button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    width: 28rem;
    height: 4rem;
    border-radius: 1.5rem;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: 'Jost', sans-serif;
    margin-top: 1.5rem;
    flex-shrink: 0;
}

.button:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Variation with white background */
.buttonWhite {
    background-color: white;
    color: var(--text-brown);
    font-size: 1.4rem;
    border: solid 0.15rem var(--text-brown);
}

/* media query */
@media (max-width: 576px) {
    .button {
        width: 20rem;
        height: 3.5rem;  
        font-size: 1.25rem;  
    }
}