.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal {
  background-color: var(--primary-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  max-width: 28rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  border: 2px solid var(--secondary-color);
  z-index: 1000;
}

.modal label,
.modal input,
.modal button {
  margin-bottom: 1rem;
}

.modal span {
  display: flex;
  justify-content: center;
  color: var(--auth-toggle-color);
}

.closeButton {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}

.closeButton:hover {
  color: #000;
}

.loader {
  margin: 1.5rem;
}


@media (max-width: 1024px) {
  .modal {
    padding: 1rem;
  }
}
