.childCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 5.5rem;
  min-width: 25rem;;
  background-color: var(--items-color);
  border-radius: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.childCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.iconContainer {
  display: flex;
  justify-content: space-between;
  width: 5rem;
  margin: 0 1rem;
}

.icon{
  color: var(--secondary-color);
  cursor: pointer;
}

.icon:hover{
  transform: scale(1.1);
}

@media (max-width: 1366px) {
  .childCard {
    min-width: 20rem;
  }
}

@media (max-width: 576px) {
  .childCard {
    min-width: 17rem;
  }
}