.childList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem; 
    padding: 0;
}

@media (max-width: 1024px) {
    .childList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .childList {
        grid-template-columns: repeat(1, 1fr);
    }
}
