@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #EFE5DA;
  --secondary-color: #2A004E;
  --items-color: #FBF5E5;
  --text-brown: #7E675E;
  --auth-toggle-color: #770737;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Jost', sans-serif;
  
  background-color: var(--primary-color);
  margin-bottom: 2rem;
}
