.AuthForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AuthForm span {
  color: var(--auth-toggle-color);
}

.AuthToggle {
  display: flex;
  flex-direction: row;
  color: var(--text-brown);
}

.AuthToggle button {
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  margin: 0.2rem;
  color: var(--auth-toggle-color);
  font-weight: 800;
}

.AuthToggle button:hover {
  transform: scale(1.1);
}

.loader {
  margin: 2rem;
}
